:root {
    --title-color: #6687E8;
}

.header-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;  
    padding-top: 20px;
    padding-bottom: 25px;
}

.header-section h1 {
    text-align: center;
    color: var(--title-color);
}

.header-section p {
    width: 95%;
    text-align: center;
    color: #555;
}

.header-section p span {
    font-weight: bolder;
}

@media (max-width: 800px) {
    .header-section h1 { font-size: 1.7em; }
}
