<header class="fixed-top">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand logo" routerLink="/" routerLinkActive="active">GeekLândia</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a routerLink="/geek" routerLinkActive="active" class="nav-link">Geek</a>
          </li>
          <li class="nav-item">
            <a routerLink="/games" routerLinkActive="active" class="nav-link">Games</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
